<%- include(`${partialsDir}/layouts/header`) %>

<div class="bg-black flex min-h-screen gap-2 justify-center items-center">
  <a href="/login" class="bg-blue-600 rounded-lg px-3 py-2">Login</a>
  <a href="/register" class="bg-blue-600 rounded-lg px-3 py-2">Register</a>
</div>

<%- include(`${partialsDir}/layouts/footer`) %>