<h1>Add Product</h1>
<form action="/garments" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="">
  </div>
  <div>
    <label for="location">location</label>
    <input type="text" name="location" id="location" value="">
  </div>
  <div>
    <label for="contact">contact</label>
    <input type="number" name="contact" id="contact" value="">
  </div>
  <button type="submit">Submit</button>
</form>